table {
  border: 1px solid black;
  width: 100%;
  font:Georgia;
}
th {
  height: 20px;
  background-color: navy;
  color: white;
}

th, td {
  border-bottom: 1px solid #ddd;
}

input{
  width: 200px;
  transition: .3s ease;
  border: none;
  border-bottom: 1px solid blue;
  margin: auto;
  display: block;
  outline: none;

}

::placeholder {

  color: rgba(white, .5);
  cursor: text;
  transition: .25s ease;
}


li {
  display: inline-block;
  margin: 10px;
}

ul {
  position: absolute;
  font-size: 20px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.ableNav:hover{
  cursor: pointer;
}

.ableNav{
  color: blue;
}

.App{
  
}